*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
}

.calculator{
    width:auto;
    height: auto;;
    border: 2px solid grey;
    padding: 10px;
    background-color: blue;
    box-shadow: 0px 5px 15px rgba(245, 245, 245, 0.222);
    border-radius: 16px;
}

input{
    width: 290px;
    height: 20%;
    padding: 20px;
    border: inset;
    text-align: right;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: transparent;
    background-color: lightblue;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

input::placeholder{
    color: rgb(255, 255, 255);
}

button{
    border:none;
    box-shadow: 1px 1px 5px black;
    margin:10px;
    width:50px;
    height:50px;
    background-color: black;
    color:white;
    cursor: pointer;
    font-size: 18px;
}

.eq{
    background-color: rgb(254, 145, 3);
    border: 2px  outset rgba(0, 0, 0, 0.404);
    color:rgb(255, 255, 255);
    width:125px
}

.spl{
    color:rgb(97, 160, 2);
}

.heading {
    color: rgb(8, 8, 8);
    border-radius: 16px;
    text-align: center;
    font-size: 25px;
    border: none;
    box-shadow: 0px 0px 16px black;
    padding: 10px;
    margin: 10px;
    background-color: rgba(13, 130, 156, 0.884);
    height: auto;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; /* Set font weight to bold */
}



button:hover{
    background-color: rgb(36, 33, 33);
    border-color: rgb(36, 33, 33);
}

.abc{
    text-align: center;
    padding:0px;
}
